
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
}

.navbar{
     display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
}

ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.rightflow{
  color: blue;
  background-color: rgb(113, 199, 227);
  padding: 10px;
  border-radius: 10px;

}



.hero{
  display: flex;
    margin: 25px;
}
h1{
  font-size: 30px;
  color: rgb(35, 105, 132);
}
p{
  margin-top: 15px;
 
}
button{
 
  background-color: skyblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}

.right{
  margin-left: 50px;
}
.right img{
  width: 30vh;
  height: 30vh;
 
  background-position: center;
}



